//Colors Theme
$bg-gradient-deg: 13deg;
$bg-gradient-first-color: #ff8f5a;
$bg-gradient-second-color: #ff2f96;

$copyright-bg-color: #31293c;
$bg-color: #fbfbfb;
$textColor: #8993ad;

$primary: #ffffff;
$secondary: #ffffff;

$btn-primary-text-color: #ffffff;
$btn-primary-border-color: #ffffff;
$btn-primary-bg-color: #ffffff;


$btnBgColor: #ff8f5a;
$btnTextColor: #ffffff;
$btnBorderColor: #ff8f5a;

$browser-context: 16;

//Fonts
$Font-Family: 'Roboto Regular', sans-serif;
